:root{
    --bars-padding: .5em;
    --bars-font-size: 2em;
    --bars-height: calc(var(--bars-font-size) + (2*var(--bars-padding)));
    --form-border: 1px dotted silver;
}
*:focus {
    outline: none;
}
body, textarea, input[type="text"], input[type="number"], button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}
body, textarea{
    margin: 0 auto;
    box-sizing: border-box;

}
#content-input.user, .display-user{
    background-color: #196700; 
}
.display-user a{
    color:white;
}
.display-user .bar{
    display: inline-block;
    font-size: .5em;
}
.code{
    background-color: rgb(39, 136, 0); 
}
header{            
    padding: 7px .5em ;     
    position: fixed;
    width: 100%;
}
#content-input input{
    width: 95%;
    font-size: var(--bars-font-size);  

}     
#content-input button, #content-input input{
    background-color: transparent;
    border: 0;
    color: white;
} 
.display-user {
    color: white;
    font-size: var(--bars-font-size); 
    position: fixed;
    top: 0;
    right: 0; 
    width: 65%;
    padding: 8px .5em 7px .5em;

}
.display-user:empty{
    height: 0;
    padding: 0;
}
.reg_items .item .details span{
    display: block;
}
.reg_items .item .details .last_user{
    background-color: rgba(255, 0, 0, 0.39);
    padding: 2px;
    border-radius: 3px;
}
@media screen and (min-width: 1100px) {            
    section.left{
        width: 28%;
        float: left;  
        padding-left: 1em;   
        margin-left: .5em;   
    }            
    section.right{
        width: 66%;
        float: right;
        padding-left: 1em;
        margin-right: 1em;
    }
    section.left .bar{
        text-align: right;
        padding-bottom: 15px;
    }
    section{             
        display: inline-block;
    }
}
section{             
    padding-top: calc(var(--bars-height) + 1em);
    padding-bottom:calc(var(--bars-height) + 1em);
}
section.left .block{
    border-bottom: var(--form-border) ; 
    background-color: white;
    padding: 6px 6px 12px 6px;
}
section.left .block:last-child{
    border-bottom-width: 0;
}
section.left .block.odd{
    background-color: #fbfbfb;
}
section.left button{
    min-width: 120px;
}
section.left textarea:disabled{
    border:0
}
section.left .original_count{
    width: 30px;
    text-align: right;
    border: 1px solid silver;
}
section.left table.item td:first-child::after{
    content: 'x';
}
section.left fieldset {
    overflow-y: scroll;    
    height: calc(100vh - (250px));

}
section.left .item_detail {
    display: inline-block;
    min-height: 10px;
}
section.left table.item{
    width: 100%;
}
section.left table.item tr{
    min-height: 2em;
    vertical-align: top;
}
section.left table.item td:first-child,
section.left table.item td:last-child
{
    width: 4em;
}
section .bar{
    float: right;
}
.date-items{
    padding-top: 1em;
}

.date-items .date{
    font-weight: bold;

}
.date-items .loan_top_checkbox{ 
    margin-left: 7px;
}
table.items{

    border-top: 1px solid silver;
    width: 100%;
    margin-bottom: 1em;
}
table.itens th{    
    position: fixed;
}
/* table.items td:nth-child(1),
table.items th:nth-child(1){
    width: 30%;
} */
table.items tr:hover{
    background-color: #ececec;
}
table.items td:not(:nth-child(1)),
table.items th:not(:nth-child(1)){
    text-align: center;
    width: 10%;
}
/* 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */

table a{
    text-decoration: none;
}

fieldset{
    border: 1px solid silver;
    border-radius: 6px;
}
.popout ul{
    list-style-type: none;
    padding: 6px;
    margin-top: -5px;
    margin-left: 120px;
    background-color: silver;
    position: absolute;
    min-width:100px;
    border-radius: 6px;
}

table td.return span.return{ 
    display: inline-block;
    min-width: 20px;    
}
table td.return span.return span{
    display: inline-block;
    min-width: 20px;
    border-radius: 6px;  
}
table td.return span.return a{
    color: white;
}
table td.return:hover span.button-minus{
    background-color: rgba(255, 0, 0, 0.3);
}
table td.return:hover span.button-plus{
    background-color: rgba(0, 128, 0, 0.3);
}

table tr.complete td {
    color: silver;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;   
    position: absolute;
    right: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal legend  {
    padding: 9px 11px 0px 15px;
    background-color: #5cb85c;
    color: white;
    min-height: 2.5em;
    display: block;
    width: 100%;
    margin-left: -13px;
  }
  .modal-header{
    margin-right: 3em;
  }
  .modal fieldset{
    border: 0;
  }
  
  
