:root{
    --bars-padding: .5em;
    --bars-font-size: 2em;
    --bars-height: calc(var(--bars-font-size) + (2*var(--bars-padding)));
    --form-border: 1px dotted silver;
}
*:focus {
    outline: none;
}
body, textarea, input[type="text"], input[type="number"], button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}
body, textarea{
    margin: 0 auto;
    box-sizing: border-box;

}
#content-input.user, .display-user{
    background-color: #196700; 
}
.display-user a{
    color:white;
}
.display-user .bar{
    display: inline-block;
    font-size: .5em;
}
.code{
    background-color: rgb(39, 136, 0); 
}
header{            
    padding: 7px .5em ;     
    position: fixed;
    width: 100%;
}
#content-input input{
    width: 95%;
    font-size: var(--bars-font-size);  

}     
#content-input button, #content-input input{
    background-color: transparent;
    border: 0;
    color: white;
} 
.display-user {
    color: white;
    font-size: var(--bars-font-size); 
    position: fixed;
    top: 0;
    right: 0; 
    width: 65%;
    padding: 8px .5em 7px .5em;

}
.display-user:empty{
    height: 0;
    padding: 0;
}
@media screen and (min-width: 1100px) {            
    section.left{
        width: 28%;
        float: left;  
        padding-left: 1em;   
        margin-left: .5em;   
    }            
    section.right{
        width: 66%;
        float: right;
        padding-left: 1em;
        margin-right: 1em;
    }
    section.left .bar{
        text-align: right;
        padding-bottom: 15px;
    }
    section{             
        display: inline-block;
    }
}
section{             
    padding-top: calc(var(--bars-height) + 1em);
    padding-bottom:calc(var(--bars-height) + 1em);
}
section.left .block{
    border-bottom: var(--form-border) ; 
    background-color: white;
    padding: 6px 6px 12px 6px;
}
section.left .block:last-child{
    border-bottom-width: 0;
}
section.left button{
    min-width: 120px;
}
section.left textarea:disabled{
    border:0
}
section.left .original_count{
    width: 30px;
    text-align: right;
}
section.left fieldset {
    overflow-y: scroll;
    max-height: 720px;
    min-height: 400px;
}
section.left .item_detail {
    display: inline-block;
    min-height: 10px;
}
section.left table.item{
    width: 100%;
}
section.left table.item tr{
    min-height: 2em;
    vertical-align: top;
}
section.left table.item td:first-child,
section.left table.item td:last-child
{
    width: 14%;
}
section .bar{
    float: right;
}
.date-items{
    padding-top: 1em;
    border-bottom: 1px solid silver;
}

.date-items .date{
    padding-left: 1em;
}
table.items{
    width: 100%;
}
table.itens th{    
    position: fixed;
}
/* table.items td:nth-child(1),
table.items th:nth-child(1){
    width: 30%;
} */
table.items tr:hover{
    background-color: #ececec;
}
table.items td:not(:nth-child(1)),
table.items th:not(:nth-child(1)){
    text-align: center;
    width: 10%;
}
/* 
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */

table a{
    text-decoration: none;
}

fieldset{
    border: 1px solid silver;
    border-radius: 6px;
}
.popout ul{
    list-style-type: none;
    padding: 6px;
    margin-top: -5px;
    margin-left: 120px;
    background-color: silver;
    position: absolute;
    min-width:100px;
    border-radius: 6px;
}