:root {
    color-scheme: light;
    --link-color: blue;
    --header-height: 3rem;
    --footer-height: 3rem;
    --root-padding-left: 5px;
    --search_results-width: 400px;
    --search-result-padding-x: 4px;
    --search-result-padding-y: 1px;
    --search-box-width: calc(var(--search_results-width) - var(--root-padding-left) * 2);
    --table-link-color-remaining: black;     
    --table-link-color-complete: #6d6d6d;  
    --table-header: threedface; 
    --header-color-top: #a4dba2;
    --header-color-bottom: white;
    --body-background-color: white;
    --body-color: black;
    --table-row-date-background-color: #6d6d6d;
    --table-completed-color: silver;
    --table-remaining-color: black;
    --card-user-background-color-1: #b5b9b6;
    --card-user-background-color-2: transparent;
    --card-item-background-color-1: #acddab61;
    --card-item-background-color-2: transparent;
    --default-shadow-color: silver;
    --cell-border: 1px solid silver;
    --patrimony-background-color-active: #1f1fb3;
    --patrimony-background-color-inactive: #1f1fb36b;
    --patrimony-background-color: var(--patrimony-background-color-active);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --link-color: rgb(255, 243, 136);
        --table-link-color-remaining: white;
        --table-link-color-complete: #6d6d6d;
        --header-color-top: #046d00;
        --header-color-bottom: rgba(0, 0, 0, 0); 
        --body-background-color: black;  
        --body-color: white; 
        --table-completed-color: #436340;
        --table-remaining-color: rgb(255, 255, 255);
        --table-row-date-background-color: #2c2c2c;
        --card-user-background-color-1: #112516;
        --card-user-background-color-2: #174917;
        --card-item-background-color-1: #000000;
        --card-item-background-color-2: #0a2705;
        --default-shadow-color: #454545;
        --cell-border: 1px solid #454545;
        --patrimony-background-color-active: #2b2b71;
        --patrimony-background-color-inactive: #1f1fb36b;
    }      
    i.icon{
        filter: invert(1);
    }  
    .modal{
        background-color: #000000c0 !important;
    }

}
body:has(.modal) #main{
    filter:blur(1px);
}
* {
    box-sizing: border-box;
}
table .remaining a{
    color: var(--table-remaining-color) !important;
}
table tr.complete td a,
table tr.complete td {
    color: var(--table-completed-color);
}
table .date {
    width: 12em;
}
table .status{
    width: 5em
}
form .allow{
    color:green;
}
form .denied{
    color: red;
}
.icon-cell{
    max-width: 1.5em;
    text-align: center;
}
.card.user {
    background-image: linear-gradient(308deg, var(--card-user-background-color-1), var(--card-user-background-color-2));
}
.card.item {
    background-image: linear-gradient(308deg, var(--card-item-background-color-1), var(--card-item-background-color-2));
}

a, a:visited{
    color: var(--link-color);
}
.content table tr:has(th),
.content table tr.date {
    background-color: var(--table-row-date-background-color);
}

header {
    min-height: var(--header-height);
    background-image: linear-gradient(var(--header-color-top), var(--header-color-bottom));
}
caption {
    text-align: left;
    font-weight: bold;
    padding: 8px;
}
.search_item {
    min-height: 10em;
    background-color: aquamarine;
}
.modal.login .modal-content{
    max-width: 400px;
}

ul:empty{
    display: none;
}

td[contenteditable="true"]:focus {
    border: 0;
    outline: none;
}

i.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
}
i.icon.pat,
i.icon.item {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='800px' height='800px' viewBox='0 0 52 52' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M31.9,39.5h6A1.42,1.42,0,0,0,39.4,38V14a1.42,1.42,0,0,0-1.5-1.5h-6A1.42,1.42,0,0,0,30.4,14V38A1.42,1.42,0,0,0,31.9,39.5Z'/%3E%3Cpath d='M45.4,39.5h3A1.42,1.42,0,0,0,49.9,38V14a1.42,1.42,0,0,0-1.5-1.5h-3A1.42,1.42,0,0,0,43.9,14V38A1.42,1.42,0,0,0,45.4,39.5Z'/%3E%3Cpath d='M25,39.5h0A1.37,1.37,0,0,0,26.5,38V14A1.42,1.42,0,0,0,25,12.5h0A1.42,1.42,0,0,0,23.5,14V38A1.37,1.37,0,0,0,25,39.5Z'/%3E%3Cpath d='M16.6,39.5H18A1.42,1.42,0,0,0,19.5,38V14A1.42,1.42,0,0,0,18,12.5H16.5A1.42,1.42,0,0,0,15,14V38A1.45,1.45,0,0,0,16.6,39.5Z'/%3E%3Cpath d='M3.6,39.5h6A1.42,1.42,0,0,0,11.1,38V14a1.42,1.42,0,0,0-1.5-1.5h-6A1.42,1.42,0,0,0,2.1,14V38A1.47,1.47,0,0,0,3.6,39.5Z'/%3E%3C/g%3E%3C/svg%3E");
}

i.icon.user {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5347,16.5117 L15.0777,14.9407 C16.2477,14.0257 16.9997,12.6007 16.9997,10.9997 C16.9997,8.2387 14.7617,5.9997 11.9997,5.9997 C9.2387,5.9997 6.9997,8.2387 6.9997,10.9997 C6.9997,12.6007 7.7517,14.0257 8.9227,14.9407 L5.4657,16.5117 C5.1367,16.6617 4.8477,16.8787 4.6157,17.1457 C3.5967,15.6867 2.9997,13.9127 2.9997,11.9997 C2.9997,7.0297 7.0297,2.9997 11.9997,2.9997 C16.9707,2.9997 20.9997,7.0297 20.9997,11.9997 C20.9997,13.9127 20.4027,15.6867 19.3847,17.1457 C19.1527,16.8787 18.8637,16.6617 18.5347,16.5117 M7.9997,10.9997 C7.9997,8.7907 9.7907,6.9997 11.9997,6.9997 C14.2087,6.9997 15.9997,8.7907 15.9997,10.9997 C15.9997,13.2087 14.2087,14.9997 11.9997,14.9997 C9.7907,14.9997 7.9997,13.2087 7.9997,10.9997 M11.9997,20.9997 C9.3127,20.9997 6.9017,19.8227 5.2517,17.9557 C5.4057,17.7247 5.6217,17.5387 5.8797,17.4227 L9.9617,15.5667 C10.5837,15.8447 11.2737,15.9997 11.9997,15.9997 C12.7257,15.9997 13.4157,15.8447 14.0387,15.5667 L18.1207,17.4227 C18.3777,17.5387 18.5937,17.7247 18.7477,17.9557 C17.0987,19.8227 14.6867,20.9997 11.9997,20.9997 M11.9997,1.9997 C6.4767,1.9997 1.9997,6.4767 1.9997,11.9997 C1.9997,17.5227 6.4767,21.9997 11.9997,21.9997 C17.5227,21.9997 21.9997,17.5227 21.9997,11.9997 C21.9997,6.4767 17.5227,1.9997 11.9997,1.9997'/%3E%3C/svg%3E");
}

i.icon.loan {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='800px' height='800px' viewBox='0 0 52 52' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23,2.42a1.37,1.37,0,0,1,2,0l10.77,10.4a1.3,1.3,0,0,1,0,1.94L25,25.16a1.37,1.37,0,0,1-2,0l-2-1.94a1.28,1.28,0,0,1,0-1.94L24.37,18a.9.9,0,0,0-.66-1.53H5.46A1.47,1.47,0,0,1,4,15.11V12.33A1.53,1.53,0,0,1,5.46,11H23.71a.89.89,0,0,0,.66-1.53L21,6.16a1.28,1.28,0,0,1,0-1.94Zm-5.8,24.42a1.38,1.38,0,0,0-2,0L4.44,37.24a1.28,1.28,0,0,0,0,1.94L15.2,49.58a1.38,1.38,0,0,0,2,0l2-1.94a1.3,1.3,0,0,0,0-1.94l-3.37-3.26a.89.89,0,0,1,.66-1.52h8.68A13.4,13.4,0,0,1,24.8,38a12.68,12.68,0,0,1,.27-2.63H16.45a.88.88,0,0,1-.66-1.53l3.37-3.26a1.3,1.3,0,0,0,0-1.94ZM28,38a9.6,9.6,0,1,1,9.6,9.6A9.6,9.6,0,0,1,28,38Zm15.62-2.24-6.46,6.45a1.15,1.15,0,0,1-.86.38,1.14,1.14,0,0,1-.86-.38l-3.12-3.12a.56.56,0,0,1,0-.86l.86-.86a.56.56,0,0,1,.86,0l2.26,2.26,5.54-5.54a.56.56,0,0,1,.86,0l.86.86A.55.55,0,0,1,43.62,35.76Z' fill-rule='evenodd'/%3E%3C/svg%3E");
}

i.icon.cart {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M20.1,26H44c0.7,0,1.4-0.5,1.5-1.2l4.4-15.4c0.3-1.1-0.5-2-1.5-2H11.5l-0.6-2.3c-0.3-1.1-1.3-1.8-2.3-1.8 H4.6c-1.3,0-2.5,1-2.6,2.3C1.9,7,3.1,8.2,4.4,8.2h2.3l7.6,25.7c0.3,1.1,1.2,1.8,2.3,1.8h28.2c1.3,0,2.5-1,2.6-2.3 c0.1-1.4-1.1-2.6-2.4-2.6H20.2c-1.1,0-2-0.7-2.3-1.7v-0.1C17.4,27.5,18.6,26,20.1,26z'/%3E%3Ccircle cx='20.6' cy='44.6' r='4'/%3E%3Ccircle cx='40.1' cy='44.6' r='4'/%3E%3C/g%3E%3C/svg%3E");
}

i.icon.check {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M19.1,42.5L2.6,25.9c-0.6-0.6-0.6-1.6,0-2.2l2.2-2.2c0.6-0.6,1.6-0.6,2.2,0L19.4,34c0.4,0.4,1.1,0.4,1.5,0 L45.2,9.5c0.6-0.6,1.6-0.6,2.2,0l2.2,2.2c0.6,0.6,0.6,1.6,0,2.2L21.3,42.5C20.7,43.2,19.7,43.2,19.1,42.5z'/%3E%3C/g%3E%3C/svg%3E");
}

i.icon.tool {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve'%3E%3Cpath d='M49.4,12.2c-0.2-0.6-0.9-0.7-1.4-0.3L39.9,20c-0.6,0.6-1.6,0.6-2.2,0L32,14.3c-0.6-0.6-0.6-1.6,0-2.2L40.2,4 c0.4-0.4,0.2-1.1-0.3-1.4C38.5,2.2,37,2,35.6,2c-8.5,0-15.3,7.3-14.3,16c0.2,1.4,0.5,2.6,1,3.8L3.6,40.4c-2.2,2.2-2.2,5.8,0,7.9 c1.1,1.1,2.6,1.7,4,1.7s2.9-0.6,4-1.7l18.6-18.6c1.2,0.5,2.5,0.8,3.8,1c8.7,1,16-5.8,16-14.3C50,14.9,49.8,13.5,49.4,12.2z'/%3E%3C/svg%3E");
}

i.icon.search {
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 2a7 7 0 1 0 4.192 12.606l7.1 7.101a1 1 0 0 0 1.415-1.414l-7.1-7.1A7 7 0 0 0 9 2ZM4 9a5 5 0 1 1 10 0A5 5 0 0 1 4 9Z' fill='%23000000'/%3E%3C/svg%3E");
}
i.icon.loading{
    background-image: url("data:image/svg+xml,%0A%3Csvg width='80px' height='80px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-hourglass'%3E%3Cdefs%3E%3CclipPath ng-attr-id='%7B%7Bconfig.cpid%7D%7D' id='lds-hourglass-cpid-2378206027203'%3E%3Crect x='0' y='28.3826' width='100' height='21.6174'%3E%3Canimate attributeName='y' calcMode='spline' values='0;50;0;0;0' keyTimes='0;0.4;0.5;0.9;1' dur='2.2' keySplines='0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='height' calcMode='spline' values='50;0;0;50;50' keyTimes='0;0.4;0.5;0.9;1' dur='2.2' keySplines='0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3Crect x='0' y='71.6174' width='100' height='28.3826'%3E%3Canimate attributeName='y' calcMode='spline' values='100;50;50;50;50' keyTimes='0;0.4;0.5;0.9;1' dur='2.2' keySplines='0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='height' calcMode='spline' values='0;50;50;0;0' keyTimes='0;0.4;0.5;0.9;1' dur='2.2' keySplines='0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7;0.3 0 1 0.7' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3Cg transform='translate(50,50)'%3E%3Cg transform='scale(0.9)'%3E%3Cg transform='translate(-50,-50)'%3E%3Cg transform='rotate(0)'%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;0 50 50;180 50 50;180 50 50;360 50 50' keyTimes='0;0.4;0.5;0.9;1' dur='2.2s' begin='0s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3Cpath ng-attr-clip-path='url(%23%7B%7Bconfig.cpid%7D%7D)' ng-attr-fill='%7B%7Bconfig.sand%7D%7D' d='M54.864,50L54.864,50c0-1.291,0.689-2.412,1.671-2.729c9.624-3.107,17.154-12.911,19.347-25.296 c0.681-3.844-1.698-7.475-4.791-7.475H28.908c-3.093,0-5.472,3.631-4.791,7.475c2.194,12.385,9.723,22.189,19.347,25.296 c0.982,0.317,1.671,1.438,1.671,2.729v0c0,1.291-0.689,2.412-1.671,2.729C33.84,55.836,26.311,65.64,24.117,78.025 c-0.681,3.844,1.698,7.475,4.791,7.475h42.184c3.093,0,5.472-3.631,4.791-7.475C73.689,65.64,66.16,55.836,56.536,52.729 C55.553,52.412,54.864,51.291,54.864,50z' clip-path='url(%23lds-hourglass-cpid-2378206027203)' fill='%23ffdf85'%3E%3C/path%3E%3Cpath ng-attr-fill='%7B%7Bconfig.frame%7D%7D' d='M81,81.5h-2.724l0.091-0.578c0.178-1.122,0.17-2.243-0.022-3.333C76.013,64.42,68.103,54.033,57.703,50.483l-0.339-0.116 v-0.715l0.339-0.135c10.399-3.552,18.31-13.938,20.642-27.107c0.192-1.089,0.2-2.211,0.022-3.333L78.276,18.5H81 c2.481,0,4.5-2.019,4.5-4.5S83.481,9.5,81,9.5H19c-2.481,0-4.5,2.019-4.5,4.5s2.019,4.5,4.5,4.5h2.724l-0.092,0.578 c-0.178,1.122-0.17,2.243,0.023,3.333c2.333,13.168,10.242,23.555,20.642,27.107l0.338,0.116v0.715l-0.338,0.135 c-10.4,3.551-18.31,13.938-20.642,27.106c-0.193,1.09-0.201,2.211-0.023,3.333l0.092,0.578H19c-2.481,0-4.5,2.019-4.5,4.5 s2.019,4.5,4.5,4.5h62c2.481,0,4.5-2.019,4.5-4.5S83.481,81.5,81,81.5z M73.14,81.191L73.012,81.5H26.988l-0.128-0.309 c-0.244-0.588-0.491-1.538-0.28-2.729c2.014-11.375,8.944-20.542,17.654-23.354c2.035-0.658,3.402-2.711,3.402-5.108 c0-2.398-1.368-4.451-3.403-5.108c-8.71-2.812-15.639-11.979-17.653-23.353c-0.211-1.191,0.036-2.143,0.281-2.731l0.128-0.308 h46.024l0.128,0.308c0.244,0.589,0.492,1.541,0.281,2.731c-2.015,11.375-8.944,20.541-17.654,23.353 c-2.035,0.658-3.402,2.71-3.402,5.108c0,2.397,1.368,4.45,3.403,5.108c8.71,2.812,15.64,11.979,17.653,23.354 C73.632,79.651,73.384,80.604,73.14,81.191z' fill='%23e15b64'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
i.icon.blocked{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M768 402.3v-73.1c0-141.4-114.6-256-256-256s-256 114.6-256 256v73.1H146.3v548.6h731.4V402.3H768z m-438.9-73.2c0-100.8 82-182.9 182.9-182.9 100.8 0 182.9 82 182.9 182.9v73.1H329.1v-73.1z m475.5 548.6H219.4V475.4h585.2v402.3z' fill='%230F1F3C' /%3E%3Cpath d='M475.4 585.1h73.1V768h-73.1z' fill='%230F1F3C' /%3E%3C/svg%3E");
}
i.icon.trash{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M692.2 182.2V72.9H327.8v109.3H145.6v72.9h728.8v-72.9H692.2z m-291.5 0v-36.4h218.6v36.4H400.7zM730.8 874.5H289.2l-34.3-548.8-72.8 4.5 38.6 617.2h578.6l38.6-617.2-72.8-4.5z' fill='%230F1F3C' /%3E%3Cpath d='M400.7 400.8h72.9v437.3h-72.9zM546.4 400.8h72.9v437.3h-72.9z' fill='%230F1F3C' /%3E%3C/svg%3E");
}
i.icon.unknown {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='800px' height='800px' viewBox='0 0 32 32' id='icon' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ccircle cx='16' cy='22.5' r='1.5'/%3E%3Cpath d='M17,19H15V15h2a2,2,0,0,0,0-4H15a2.0023,2.0023,0,0,0-2,2v.5H11V13a4.0045,4.0045,0,0,1,4-4h2a4,4,0,0,1,0,8Z' transform='translate(0)'/%3E%3Cpath d='M16,30a2.0763,2.0763,0,0,1-1.4732-.6094L2.6094,17.4732a2.0855,2.0855,0,0,1,0-2.9464L14.5268,2.6094a2.0855,2.0855,0,0,1,2.9464,0L29.3906,14.5268a2.0855,2.0855,0,0,1,0,2.9464L17.4732,29.3906A2.0763,2.0763,0,0,1,16,30ZM16,3.9992a.0841.0841,0,0,0-.0591.0244L4.0236,15.9409a.0838.0838,0,0,0,0,.1182L15.9409,27.9764a.0842.0842,0,0,0,.1182,0L27.9764,16.0591a.0838.0838,0,0,0,0-.1182L16.0591,4.0236A.0841.0841,0,0,0,16,3.9992Z' transform='translate(0)'/%3E%3Crect class='cls-1' width='32' height='32'/%3E%3C/svg%3E");
}
i.icon.tag-minus{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' id='tag-remove' class='icon glyph'%3E%3Cpath d='M13,18a2,2,0,0,0,2,2h4v1a1,1,0,0,1-1,1H7a2,2,0,0,1-2-2V9a1,1,0,0,1,.29-.71l6-6a1,1,0,0,1,1.42,0l6,6A1,1,0,0,1,19,9v7H15A2,2,0,0,0,13,18Zm9,0a1,1,0,0,0-1-1H15a1,1,0,0,0,0,2h6A1,1,0,0,0,22,18Z' style='fill:%23231f20'%3E%3C/path%3E%3C/svg%3E");
}
i.icon.tag-plus{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' id='tag-add' class='icon glyph'%3E%3Cpath d='M19,9v4.27A2,2,0,0,0,16,15v1H15a2,2,0,0,0,0,4h1v1a2,2,0,0,0,.27,1H7a2,2,0,0,1-2-2V9a1,1,0,0,1,.29-.71l6-6a1,1,0,0,1,1.42,0l6,6A1,1,0,0,1,19,9Zm2,8H19V15a1,1,0,0,0-2,0v2H15a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V19h2a1,1,0,0,0,0-2Z' style='fill:%23231f20'%3E%3C/path%3E%3C/svg%3E");
}
i.icon.minus{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'%3E%3Ctitle%3Eminus-circle%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-516.000000, -1087.000000)' fill='%23000000'%3E%3Cpath d='M532,1117 C524.268,1117 518,1110.73 518,1103 C518,1095.27 524.268,1089 532,1089 C539.732,1089 546,1095.27 546,1103 C546,1110.73 539.732,1117 532,1117 L532,1117 Z M532,1087 C523.163,1087 516,1094.16 516,1103 C516,1111.84 523.163,1119 532,1119 C540.837,1119 548,1111.84 548,1103 C548,1094.16 540.837,1087 532,1087 L532,1087 Z M538,1102 L526,1102 C525.447,1102 525,1102.45 525,1103 C525,1103.55 525.447,1104 526,1104 L538,1104 C538.553,1104 539,1103.55 539,1103 C539,1102.45 538.553,1102 538,1102 L538,1102 Z' id='minus-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
i.icon.plus{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'%3E%3Ctitle%3Eplus-circle%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-464.000000, -1087.000000)' fill='%23000000'%3E%3Cpath d='M480,1117 C472.268,1117 466,1110.73 466,1103 C466,1095.27 472.268,1089 480,1089 C487.732,1089 494,1095.27 494,1103 C494,1110.73 487.732,1117 480,1117 L480,1117 Z M480,1087 C471.163,1087 464,1094.16 464,1103 C464,1111.84 471.163,1119 480,1119 C488.837,1119 496,1111.84 496,1103 C496,1094.16 488.837,1087 480,1087 L480,1087 Z M486,1102 L481,1102 L481,1097 C481,1096.45 480.553,1096 480,1096 C479.447,1096 479,1096.45 479,1097 L479,1102 L474,1102 C473.447,1102 473,1102.45 473,1103 C473,1103.55 473.447,1104 474,1104 L479,1104 L479,1109 C479,1109.55 479.447,1110 480,1110 C480.553,1110 481,1109.55 481,1109 L481,1104 L486,1104 C486.553,1104 487,1103.55 487,1103 C487,1102.45 486.553,1102 486,1102 L486,1102 Z' id='plus-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
i.icon.complete{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-100.000000, -1139.000000)' fill='%23000000'%3E%3Cpath d='M122.027,1148.07 C121.548,1147.79 120.937,1147.96 120.661,1148.43 L114.266,1159.51 L110.688,1156.21 C110.31,1155.81 109.677,1155.79 109.274,1156.17 C108.871,1156.54 108.85,1157.18 109.228,1157.58 L113.8,1161.8 C114.177,1162.2 114.81,1162.22 115.213,1161.84 C115.335,1161.73 122.393,1149.43 122.393,1149.43 C122.669,1148.96 122.505,1148.34 122.027,1148.07 L122.027,1148.07 Z M116,1169 C108.268,1169 102,1162.73 102,1155 C102,1147.27 108.268,1141 116,1141 C123.732,1141 130,1147.27 130,1155 C130,1162.73 123.732,1169 116,1169 L116,1169 Z M116,1139 C107.164,1139 100,1146.16 100,1155 C100,1163.84 107.164,1171 116,1171 C124.836,1171 132,1163.84 132,1155 C132,1146.16 124.836,1139 116,1139 L116,1139 Z' id='checkmark-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
i.icon.location{
    background-image: url("data:image/svg+xml,%3Csvg height='800px' width='800px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 255.856 255.856' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23000002;' d='M127.928,38.8c-30.75,0-55.768,25.017-55.768,55.767s25.018,55.767,55.768,55.767 s55.768-25.017,55.768-55.767S158.678,38.8,127.928,38.8z M127.928,135.333c-22.479,0-40.768-18.288-40.768-40.767 S105.449,53.8,127.928,53.8s40.768,18.288,40.768,40.767S150.408,135.333,127.928,135.333z'/%3E%3Cpath style='fill:%23000002;' d='M127.928,0C75.784,0,33.362,42.422,33.362,94.566c0,30.072,25.22,74.875,40.253,98.904 c9.891,15.809,20.52,30.855,29.928,42.365c15.101,18.474,20.506,20.02,24.386,20.02c3.938,0,9.041-1.547,24.095-20.031 c9.429-11.579,20.063-26.616,29.944-42.342c15.136-24.088,40.527-68.971,40.527-98.917C222.495,42.422,180.073,0,127.928,0z M171.569,181.803c-19.396,31.483-37.203,52.757-43.73,58.188c-6.561-5.264-24.079-26.032-43.746-58.089 c-22.707-37.015-35.73-68.848-35.73-87.336C48.362,50.693,84.055,15,127.928,15c43.873,0,79.566,35.693,79.566,79.566 C207.495,112.948,194.4,144.744,171.569,181.803z'/%3E%3C/g%3E%3C/svg%3E");
}
i.icon.obs{
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.062,11.346a.99.99,0,0,1,0-.691C3.773,6,7.674,3,12,3s8.227,3,9.938,7.655a.987.987,0,0,1,0,.69,13.339,13.339,0,0,1-1.08,2.264,1,1,0,1,1-1.715-1.028A11.3,11.3,0,0,0,19.928,11C18.451,7.343,15.373,5,12,5S5.549,7.343,4.072,11a9.315,9.315,0,0,0,6.167,5.787,1,1,0,0,1-.478,1.942A11.393,11.393,0,0,1,2.062,11.346ZM16,11a4,4,0,0,0-5.577-3.675,1.5,1.5,0,1,1-2.1,2.1A4,4,0,1,0,16,11Zm1.5,10a1,1,0,0,0,1-1V18.5H20a1,1,0,0,0,0-2H18.5V15a1,1,0,0,0-2,0v1.5H15a1,1,0,0,0,0,2h1.5V20A1,1,0,0,0,17.5,21Z'/%3E%3C/svg%3E");
}
i.icon.refresh{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23020202;stroke-miterlimit:10;stroke-width:1.91px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='12' cy='12' r='10.5'/%3E%3Cpolyline class='cls-1' points='12.96 4.36 15.82 7.23 12.96 10.09'/%3E%3Cpolyline class='cls-1' points='12.96 4.36 15.82 7.23 12.96 10.09'/%3E%3Cpolyline class='cls-1' points='11.04 13.91 8.18 16.77 11.04 19.64'/%3E%3Cpath class='cls-1' d='M17.73,11.05h0A5.73,5.73,0,0,1,12,16.77H8.18'/%3E%3Cpath class='cls-1' d='M17.73,11.05h0A5.73,5.73,0,0,1,12,16.77H8.18'/%3E%3Cpath class='cls-1' d='M6.27,13h0A5.73,5.73,0,0,1,12,7.23h3.82'/%3E%3C/svg%3E");
}
i.icon.key{
    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2606 11.4402C19.8781 11.4402 22 9.3269 22 6.72008C22 4.11325 19.8781 2 17.2606 2C14.643 2 12.5211 4.11325 12.5211 6.72008C12.5211 7.92754 13.0722 8.80569 13.0722 8.80569L7.3408 14.5137C7.08363 14.7698 6.72357 15.4358 7.3408 16.0505L8.00212 16.7091C8.25929 16.9286 8.90589 17.236 9.43495 16.7091L10.2065 15.9407C10.978 16.7091 11.8598 16.27 12.1904 15.8309C12.7415 15.0625 12.0802 14.2942 12.0802 14.2942L12.3007 14.0746C13.3588 15.1284 14.2846 14.5137 14.6153 14.0746C15.1664 13.3062 14.6153 12.5378 14.6153 12.5378C14.3948 12.0988 13.954 12.0988 14.505 11.5499L15.1664 10.8913C15.6954 11.3304 16.7829 11.4402 17.2606 11.4402Z' stroke='%231C274C' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath opacity='0.5' d='M17.2605 8.36632C18.1736 8.36632 18.9138 7.62914 18.9138 6.71978C18.9138 5.81042 18.1736 5.07324 17.2605 5.07324C16.3474 5.07324 15.6072 5.81042 15.6072 6.71978C15.6072 7.62914 16.3474 8.36632 17.2605 8.36632Z' stroke='%231C274C' stroke-width='1.5'/%3E%3Cpath opacity='0.5' d='M22 14.993C21.9361 17.787 21.6692 19.419 20.5542 20.5341C19.0882 22 16.7288 22 12.0101 22C7.29127 22 4.93188 22 3.46594 20.5341C2 19.0681 2 16.7087 2 11.9899C2 7.27117 2 4.91177 3.46594 3.44584C4.58099 2.33078 6.21298 2.06388 9.00704 2' stroke='%231C274C' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
}
span.patrimony:has(i.key){
    background-color:#7f7f00;
    box-shadow: 0 0;
}
table tr.complete .patrimony {
    background-color: #0000ff3f;
}
table tr.complete .patrimony:has(i.key) {
    background-color: #7f7f003f;
}
.title .icon{
    float: right;
}
.patrimony .icon {
    float: left;
    filter: invert(1);
    margin-top: 1px;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}

body,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
button,
select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
}


header form {
    display: inline;
}

header,
footer {
    width: 100%;
    vertical-align: middle;
    text-shadow: 2px 2px 4px var(--header-color-bottom);
}

footer {
    background-color: var(--header-color-bottom);
    min-height: var(--footer-height);
    background-image: linear-gradient(var(--header-color-bottom), var(--header-color-top));
}

#q {
    font-size: 1.5em;
    outline: none;
}

section {
    padding: var(--search-result-padding-y) var(--search-result-padding-x) var(--search-result-padding-y) var(--search-result-padding-x);
    overflow-y: auto;
}

header ul,
header li,
footer ul,
footer li {
    list-style-type: none;
    padding-inline-start: 0;
    margin-left: 3px
}

.actions form {
    display: inline;
}


@media screen and (max-width: 919px) {
    #q {
        margin: 0 auto;
        width: 98%;
        margin-top: 5px;
        align-items: center;
        display: flex;        
    }

    header ul {
        display: block;
    }

    main .items {
        overflow-x: scroll;
    }

    main table {
        min-width: 800px;
    }

    header li:last-child {
        position: absolute;
        right: 3px;
        top: 3em;
    }

    header {
        border: var(--cell-border)
    }
}

@media screen and (min-width: 920px) {
    body {
        overflow: hidden;
    }

    header,
    footer {
        padding-left: var(--root-padding-left);
        display: flex;
        align-items: center;
    }

    body main section {
        height: calc(100vh - (var(--footer-height) + var(--header-height)));
        display: inline-block;
    }

    #q {
        width: var(--search-box-width);
    }

    body.not-searching section.search_results {
        display: none;
    }

    body.searching section.search_results {
        width: var(--search_results-width);
    }
    
    body.searching section.content {
        width: calc(100% - var(--search_results-width) - var(--root-padding-left));
        float: right;
        padding-right: 10px;
    }

    body.not-searching  section.content{
        width: 100%;
    }

    header ul,
    header li,
    footer ul,
    footer li {
        display: inline;
    }

    #q {
        margin-right: 1em;
    }

    main table {
        width: 100%;
    }
    .modal-content{
        width: 800px;
    }
}



.units {
    width: 3em;
    text-align: right;
}

.card {
    border-bottom: 1px solid  var(--default-shadow-color);
    margin-bottom: 10px;
    padding: 1px 6px 4px var(--root-padding-left);
    box-shadow: 2px 2px 2px  var(--default-shadow-color);;
    border: var(--cell-border);
    border-radius: 10px;
}

.card .icon{
    margin-right: .5em;
}
.result:has(span.identifier br){
    padding-bottom: 14px;
}

.card .title {
    font-weight: bold;
    padding-bottom: 4px;
}
.card .message{    
    margin-top: 25px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 5px;
    font-size: .8em;    
}
.card .message.alert {
    background-color: #ff00005c;    
}
.card .message.info {
    background-color: #0000ff5c;
}
.card .actions {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card.top .alert {
    font-weight: normal;
    display: inline;
    white-space: nowrap;
}
.result span:has(.patrimony) {
    float: left;
}

.patrimony {
    background-color: var(--patrimony-background-color);
    color: white;
    min-width: 6em;
    padding: 4px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: .85em; */
    text-align: right;
    display: inline-block;
    box-shadow: 1px 1px 1px 1px var(--patrimony-background-color);
}
h2 .patrimony{
    padding: 3px 3px 0px 3px;
}
td .patrimony{
    width: 100%;
}
td:has(.patrimony){    
    padding-right: 5px;
    min-width: 7em;
}
table .complete{
    display: none;
}
table.show-completed .complete{
    display: table-row; 
}

.hide-name,
table.show-completed .quote{
    display: none;
}
table.show-completed .hide-name{
    display: inline;
}


table td.return,
table th.return{
    width: 100px;
    text-align: center;
}

table td.return span.return {
    display: inline-block;
    min-width: 15px;
}
table td.return .refresh,
table td.return .minus,
table td.return .plus ,
table td.return .complete {
    display: none;
    min-width: 15px;
    border-radius: 6px;
}
table td.return span.return a {
    color: white;
}
.counter{
    min-width: 3.3em;
    display: inline-block;
    text-align: center;
}
table td.return:hover .refresh,
table td.return:hover .minus {
    background-color: rgba(255, 0, 0, 0.3);
    display: inline-block;
}

table td.return:hover .plus,
table td.return:hover .complete {
    background-color: rgba(0, 128, 0, 0.3);
    display: inline-block;
}
.content table {
    margin-top:3px;
    border-collapse: collapse;
    border-radius: 2px;
}
.content table select{
    width: 100%;
    border: 0;

}
.content .card.central{
    padding: 15px 14px 15px 11px;
}

.content .card.top{
    padding: 6px 10px 10px 15px;
}
.content table tr.date td {
    padding-top: 1.5em;
    
}
.content table td.time {
    width: 3em;
    text-align: center;
}

.content table tr:has(th),
.content table tr.date {
    border: var(--cell-border);
    font-weight: bold;
    background-color: var(--table-header);
    border-radius: 3px;
}




.content table td.number,
.content table th.number {
    text-align: center;
    width: 6em;
}

.content table th:first-child,
.content table td:first-child {
    width: 2em;
    text-align: left;
}

.content table td:last-child {
    word-wrap: break-word;
    width: 15em;
}

.content table tr:hover:not(:has(th)) {
    background-color: #4b75581a;
}

.content th:has(.date) {
    vertical-align: middle;
    text-align: left;
}

.content td {
    vertical-align: top;
}
.modal legend{
    box-sizing: content-box;
}


.search_results .one .actions button:focus {
    animation: blinker 1s cubic-bezier(0, 1.25, 0.32, 0.8) infinite
  }
  
  @keyframes blinker {
    50% {
      opacity: 0.1;
    }
  }

ul.loan_details{
    margin: 0;
    padding-left: 1px;
    list-style-type: none;
}
ul.loan_details li{
    padding-left: 2px;
}
ul.loan_details li::marker{
    content: "-";
    margin-right: 2px
}


.loan_details_new {
    padding-left:2px;
    border: 1px solid transparent;
    outline: none;
}
.loan_details_new:hover{
    border: 1px dashed silver
}
.loan_details_new:focus{
    border: var(--cell-border)
}
td.details span.x{
    color: transparent;
    min-width: 25px;
    display: inline-block;
    text-align: center;
}
td.details span.x:hover{
    color: red;
    cursor: pointer;
}
.modal dt {
    float: left;
    clear: both;
    min-width: 8em;    
    margin-bottom: 1em;
}
.modal .block dt{
    min-width: 15em;
}
.modal dd {
    margin-inline-start: 0;
    margin-bottom: 1em;
}
.modal .block dd input[type="text"],
.modal .block dd input[type="number"]{
    width: 40em;
}
.modal .block dd input[type="text"].small,
.modal .block dd input[type="number"].small{
    width: 15em;
}
.card .bar{
    text-align: right;
}
.quote{
    display: block;
    width: 50%; 
    text-align: center;
}
.content table td,
.content table th
{
    border-top: var(--cell-border);
    border-right: var(--cell-border);
    padding: 2px 2px 1px 4px
}
.content table td:first-child{
    border-left: var(--cell-border);
}
.content table {
    border-bottom: var(--cell-border);
}